<div class="container">

  <mat-card class="diga-card">
    <mat-card-header style="margin-top: 2%; margin-bottom: 5%;">
      <mat-card-title>Fast-Track-Checker</mat-card-title>
      <mat-card-subtitle>Deine digitalen Gesundheitsanwendungen</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-grid-list cols="2" rowHeight="2:1" gutterSize="2">
        <mat-grid-tile *ngFor="let diga of this.digas index as i">
          <mat-card style="border: 2px seagreen ridge;" routerLink="/diga-canvas" [state]="{data: diga}">
            <mat-card-header style="">
              <div mat-card-avatar
                [ngClass]="diga.name ==='M-sense Migräne 001 00315001' ? 'example-header-image-0': 'example-header-image-1'">
              </div>
              <mat-card-title>{{diga.name}}</mat-card-title>
              <mat-card-subtitle>DiGA</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content style="display: flex; justify-content: center; align-items: center;"><button mat-button
                style="margin-top: 10%; background-color: rgb(62, 161, 105);">Diga-Canvas bearbeiten</button>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card style="border: 2px seagreen ridge;" routerLink="/diga-canvas">
            <mat-card-content
              style="display: flex; justify-content: center; align-items: center; flex-direction: column; height: 100%;">
              <button mat-fab style="background-color: rgb(62, 161, 105); margin-bottom: 5%;"
                aria-label="Example icon button with a delete icon">
                <mat-icon>add</mat-icon>
              </button>
              <mat-card-title>DiGA hinzufügen</mat-card-title>
            </mat-card-content>

          </mat-card>
        </mat-grid-tile>

      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>