mat-grid-tile {
  //   background: lightblue;
  mat-card {
    height: 50%;
  }
}

mat-card {
  heigth: 100%;
}

// border-radius: 3%; background-color: rgb(102, 184, 102);

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
