mat-grid-tile {
  //   background: rgba(65, 100, 68, 0.397);
  mat-card {
    height: 50%;
    width: 50%;
  }
}

.container {
  padding: 2%;
  height: 100%;
  background: rgba(65, 100, 68, 0.397);
}

// border-radius: 3%; background-color: rgb(102, 184, 102);

.example-header-image-0 {
  background-image: url('../../../../assets/migr2.png');
  background-size: cover;
}
.example-header-image-1 {
  background-image: url('../../../../assets/adipo.png');
  background-size: cover;
}
.diga-card {
  //   background: rgba(65, 100, 68, 0.397);
  //   height: 100%;
  //   border: 2px seagreen ridge;
}
