.icon-space {
  margin-right: 2%;
}

.center-headline {
  margin: auto;
}

.sub-menu {
  margin-left: 15%;
}

.sub-sub-menu {
  margin-left: 30%;
}

mat-drawer {
  width: 12%;
}

#main-content {
  /* padding: 5%; */
  background-color: aqua;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  /* height: 100%; */
}
